html{box-sizing:border-box;}
*,*::before,*::after{box-sizing:inherit;}
body {
  margin: 0;
  padding: 0;
  font-family:monospace;
}
img{
  width: 100%;
  object-fit: cover;
}
main{
  outline:2px solid red;
  height: 100vh;
  background: aqua;
  position: relative;
}
.background-1{
  height: 50vh;
  background: rgb(58, 57, 57);
}
.background-2{
  height: 50vh;
  background: rgb(255, 255, 255);
}

.card{
position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
  background: white;
  width: 80vw;
  height: 50vh;
  max-width: 700px;
  border-radius: 3px;
  box-shadow: rgba(199, 199, 199, 0.24) 0px 3px 8px;
}

.card-header{
  height: 35%;
  outline:1px solid grey;
  background: rgb(240, 239, 239);
  border-radius: 3px;
  position: relative;
}
.card-main{
height:65%;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.card-main *{
  margin-bottom: 1em;
}
.img-container{
  width: 20%;
  position: absolute;
   top: 80%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    
}
img{
      border-radius: 50%;
      border: 5px solid white;
      box-shadow: rgba(199, 199, 199, 0.24) 0px 3px 8px;
      border-spacing: -8px;
      outline: 1px solid grey;
}
.card-text{
outline:2px solid red;
text-align: center;
}
.card-icons{
outline:2px solid red;
}
.random-user-button{
  width: max-content;
  text-transform: uppercase;
}